{% extends 'base.html' %}
{% set active_page = 'blog' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
        </div>

        <div class="col-lg-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title mb-3">Create a new post</h5>
                    <form method="post" action="{{ url_for('post.create') }}" novalidate>
                        {{ form.csrf_token }}
                        <div class="form-group mb-3">
                            <label for="title">Title</label>
                            {{ form.title(class='form-control', id='title', placeholder='Enter title') }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="content">Content</label>
                            {{ form.content(class='form-control', id='content', placeholder='Enter content') }}
                        </div>
                        <button type="submit" class="btn btn-send">Create post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}